:root {
    /*Colores*/

    /*Primary*/
    --Green400: hsla(172, 67%, 45%, 0.71);
    /*Neutral*/
    --Green900: hsl(183, 100%, 15%);
    --Grey500: hsl(186, 14%, 43%);
    --Grey400: hsl(184, 14%, 56%);
    --Grey200: hsl(185, 41%, 84%);
    --Grey50: hsl(189, 50%, 93%);
    --White: hsl(0, 100%, 100%);

    /*Fuentes*/

    --FuentePrincipal: "Space Mono", "monospace";
}
/*Globales*/
* {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;

}
body {
    background-color: var(--Grey200);
}
/*utilidades*/
.no-padding {
padding: 0;
}
.no-margin {
margin: 0;
}
.fuenteInputs {
font-size: 24px;
}
/*Media queries*/
.contenedor {
    font-family: "Space Mono", monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 55rem;
    width: 100%;
    margin: 15rem auto;
    background-color: var(--White);
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
    height: auto;
}
/*princiapal*/
.contenedor__inputdatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
label {
    color: var(--Grey400);
}
.contenedor__outputdatos {
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--Green900);
    border-radius: 10px;
}
.tipamount, .totalamount {
    display: flex;
    justify-content: space-between;
}
#reset {
    font-family: "Space Mono", monospace;
    /*Acomodar hasta el fondo*/
    margin-top: auto;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--Green400);
    color: var(--Green900);
    border: medium;
    width: 100%;
}
#reset:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 1px grey;
    transition: all 0.3s ease;
}
p {
    color: var(--White);
}
span {
    color: var(--Grey500);
}
.cantidad {
    color: var(--Green400);

}
.contenedor__inputdatos--porcentajes {
    font-family: "Space Mono", monospace;
    width: auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 1rem;
}
.boton {
    font-family: "Space Mono", monospace;
    background-color: var(--Green900);
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: medium;
    cursor: pointer;
    width: 7rem;
    height: 3.5rem;
}
@media (max-width: 45rem) {
    .contenedor {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 2rem auto;
        padding: unset;
    }
    .contenedor__outputdatos {
        gap: 2rem;
        order: -1;
        height: 30rem;
        padding-bottom: 1rem;
    }
    .contenedor__inputdatos--porcentajes {
        display: flex;
        flex-direction: column;
        order: 2;
    }
    .bg-inputs {
        background-color: rgba(178, 165, 165, 0.25);
        padding: 10px;
        border-radius: 10px;
    }
    .boton {
        width: 40rem;
        height: 6rem;
        margin: auto;
    }
    input {
        width: 100%;
        padding: 10px;
        font-size: 2rem;
    }
    #bill, #nmofpp {
        padding: 3rem;
        margin-bottom: 10px;
        width: auto;
    }
    label,p {
        font-size: 2rem;
        text-align: center;
    }
    .condatos {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    #reset {
        height: 6rem;
    }
    input::placeholder {
        text-align: center !important;
    }
    .mover,.tiptext {
        display: none;
    }
}
.boton:hover {
    background-color: var(--Green400);
}
.boton:active {
    background-color: var(--Green400);
}
.boton:focus {
    background-color: var(--Green400);
}
.custom {
    background-color: var(--Grey50);
    color: var(--Grey400);
}
.custom::placeholder{
    text-align: center;
}
.custom:focus {
    background-color: white;
    color: black;
}
input {
    margin-top: 5px;
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--Grey50);
    text-align: right;
    color: var(--Green900);
    font-weight: bold;
}
input::placeholder {
    text-align: left;
}
.tiptext {
    color: var(--Grey400);
}
.peoplenumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.condatos:last-of-type {
    margin-top: -1.3rem;
}